
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* mobile screen */
    body {
        font-size: .64rem;
        color: #000;
        line-height: 1.71;
        font-family: Santral W01;
        font-weight: bold;
        font-style: normal;
    }
    .contener {

        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
            "sd "
            " main"
            "ft";

    }

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        grid-area: ft;
        background-color: #a4c3b2;
    }


   

    .SidPar {
        grid-area: sd;
        background-color: #eaf4f4;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border: 1px solid white;

    }

    .Jewelry {
        height: 20vh;
        border: 1px solid white;
        color: #080808;
        background-color: #a4c3b2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
    .SidParBottom {
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;

    }
   
    .main {
        grid-area: main;
        background-color: #eaf4f4;
    }

    .into {
        height: 10vh;
        color: #080808;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nestedgrid {

        display: grid;
        grid-template-columns: 200px 200px ;
        grid-template-rows: 150px ;
        gap: 30px;
        padding-top: 40px;
        padding-left: 40px;


    }
    .photoBox {
        width: 80px;
        height: 80px;
        border: #f3f4f6;
        border-radius: 50%;
        border-style: solid;
    }

    .card {

        justify-content: space-between;
        width: 180px;
        height: 150px;
        background-color: #FFFFFF;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        padding: 25px;
    }

    .card:hover {
        cursor: pointer;
        transform: translateY(-10px) scale(1.02);
    }

    

    a {
        text-decoration: none;
        color: rgb(18, 13, 49);
        font-weight: bold;
    }



    /* wide enough */
    @media(min-width:600px) {
        
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
        body {
            font-size: .84rem;
            color: #000;
            line-height: 1.71;
            font-family: Santral W01;
            font-weight: bold;
            font-style: normal;
        }
        .contener {
    
            display: grid;
            grid-template-columns: 200px 200px;
            grid-template-rows: 750px 50px;
            grid-template-areas:
                "sd main main main main"
                "ft ft ft ft ft";
    
        }
    
        .SidPar {
            grid-area: sd;
            background-color: #eaf4f4;
            display: flex;
            flex-direction: column;
            gap: 80px;
            border: 1px solid white;
    
        }
        .Jewelry {
            height: 20vh;
            border: 1px solid white;
            color: #080808;
            background-color: #a4c3b2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .SidParBottom {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
    
        }
        .main {
            grid-area: main;
            background-color: #eaf4f4;
        }
    
        .into {
            height: 15vh;
            color: #080808;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .nestedgrid {

            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            grid-template-rows: 300px 300px;
            gap: 50px;
            padding-top: 40px;
            padding-left: 30px;
    
    
        }

        .photoBox {
            width: 150px;
            height: 150px;
            border: #f3f4f6;
            border-radius: 50%;
            border-style: solid;
        }
        .card {

            justify-content: space-between;
            width: 210px;
            height: 270px;
            background-color: #FFFFFF;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            padding: 25px;
        }
    
        .card:hover {
            cursor: pointer;
            transform: translateY(-10px) scale(1.02);
        }
        a {
            text-decoration: none;
            color: rgb(18, 13, 49);
            font-weight: bold;
        }
    
    }